
@font-face {
    font-family: "SamsungSharpSans";
    src: url(../fonts/SamsungSharpSans-Bold.woff) format("woff");
    font-weight: bold;
    }
@font-face {
    font-family: "SamsungSharpSans";
    src: url(../fonts/SamsungSharpSans-Medium.woff) format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "SamsungSharpSans";
    src: url(../fonts/SamsungSharpSans-Regular.woff) format("woff");
    font-weight: normal;
}
@font-face {
    font-family: "SamsungOneKorean";
    src: url(../fonts/SamsungOneKorean-400.woff) format("woff");
    font-weight: normal;
}
@font-face {
    font-family: "SamsungOneKorean";
    src: url(../fonts/SamsungOneKorean-700.woff) format("woff");
    font-weight: bold;
}
@font-face {
    font-family: "SamsungOneLatin";
    src: url(../fonts/SamsungOneLatin-400.woff2) format("woff2");
}